*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-list-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    gap: 11px;
    font-weight: 500;
}

.id-display{
    padding-left: 5px;
    width: 180px;
    border-bottom: rgba(0, 0, 0, 0.373) solid 1px;
}


.Display{
    display: flex;
    flex-direction: column;
    gap: 20px
}