*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.login-container{
    display: flex;
    flex-direction: column;
   gap: 15px;
   align-items:center;
   margin-top: 20px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 396px;
    background-color: white;
    border: rgba(145, 144, 144, 0.397) solid 1px;
    align-items:center;
    text-align: center;

}

.img{
    padding: 40px 0px;
}

.flex-form{
   
    display: flex;
    flex-direction: column;
    width: 258px;
    gap:7px
}

.form{
    height: 36px;
    background-color: #FAFAFA;
    border: rgba(0, 0, 0, 0.137) solid 1px;
    border-radius: 1px;
}
.form:focus{
    outline: none;
    border: rgba(0, 0, 0, 0.366) solid 1px;
  }
  .form::placeholder{
    font-size: 12px;
    color: grey;
    padding-left: 10px;
    
  }

.button{
    margin-top: 20px;
    height: 38px;
    background-color: #addbed;
    border: none;
    color: white;
    font-size: 16px;
}

.wrong-pass{
    color:red;
    font-size: 14px;
    padding: 30px 36px;
}

.sign-up{
    display: flex;
margin-top: 10px;
    width: 350px;
    height: 63px;
    border: rgba(145, 144, 144, 0.397) solid 1px;
    background-color: white;
    align-items:center;
    justify-content:center;


}

.sign-up-text{
    cursor: pointer;
    color: #0095f6;
    font-size: 14px;
    font-weight: 500;

}

.no-acc{
    font-size: 14px;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top:  -42px;
  bottom: 10px;
  left: -92px;
  font-size: 10px;
  opacity: 0.5;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: relative;
  pointer-events: none;
  left: -92px;
  top: -32px;
  transition: 0.2s ease all;
  opacity: 1;
}

input[type=text] {
    padding-top: 15px;
    padding-left:15px;
    font-size: 14px;
}

.dub-message{
    color: red;
    font-size: 14px;
    padding-top: 10px;
}